.overviewFull {
  height: 800px;
}

.overviewBanner {
  height: 10%;
}

.overviewMain {
  margin: 0px;
  height: 70%;
}

.overviewBottom {
  height: 20%;
}

.jumbotron-fluid {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

#specialOffer {
}

.imageGallery {
  height: 100%;
}

.productInfo {
  height: 100%;
}

.overviewRow {
  height: 100%;
}

/* css code for RatingReviews component */
/* rating&reviews box */

.RatingReviewsTitle {
  height: 5%;
}
.RatingReviewsBody {
  height: 85%;
}
.RatingReviewsFoot {
  height: 10%;
}

/* css code for Stars */
.grade-star-img {
  position: absolute;
  border: hidden;
  top: 0;
  left: 3.3%;
  width: 49.5%;
  height: 30%;
  background: url(./image/five_stars_empty_mid.png) no-repeat;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
/* end */
/* css for rating part */
.hoverStar:hover{
  background: gold
}
/* end */
/* css for individualreview */
.Hrsolid {
  border-top: 2px solid #999;
  width: "100%"
}

/* end */
/*matt*/
.productReviews {
  height: 5%;
}

.productName {
  height: 15%;
}

.styleSelect {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.sizeQuantitySelect {
  height: 10%;
}

.addToBag {
  height: 10%;
}

.styleSelectBox {
  height: 100%;
}

#overviewCarousel img {
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-position: 50% 50%;
  min-width: 100%;
  height: 35em;
  max-width: none;
}

#relatedCarousel {
  width: 80%;
  margin: auto;
}

.circles {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.rounded-circle {
  height: 25%;
}

.styleSelectorDiv {
  height: 100%;
}

.styleSelectorContainer {
  height: 100%;
}

.styleSelectRow {
  height: 95%;
  overflow: hidden;
}

.selectedStyleTitle {
  height: 5%;
}

#styleFirstRow {
  margin-top: 3%;
  margin-bottom: 10%;
}

#styleSecondRow {
  margin-bottom: 10%;
}

#dropdown-basic-button-size {
  color: black;
  background-color: white;

  border-color: black;
  width: 100%;
  height: 50px;
}

#dropdown-basic-button-quantity {
  color: black;
  background-color: white;
  height: 50px;
  border-color: black;
}

#button-add-to-bag {
  color: black;
  background-color: white;
  height: 50px;
  border-color: black;
}

.productInfoBox {
  margin: 20px;
}

.square img {
  height: 100%;
  width: 100%;
}

.square {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.styleSquareBox {
  height: 100%;
  margin-top: 5%;
}

.containerOverview {
  columns: 4 auto;
}

.overviewWidget {
  height: 89vh;
}

/* CSS FOR Q & A */

.helpfulContainer {
  font-size: 8px;
  float: right;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30%;
}
.helpfulContainer div {
  margin: 2%;
}
/* 
.helpful div {
  flex-wrap: wrap;
} */
