.App {
  margin: 0 auto; /* this will center the page */
  width: 1100px; /*  use your width here */
}

.overviewWidget {
  height: 700px;
  margin-bottom: 45px;
}

.overviewFull {
  height: 100%;
}

.overviewBanner {
  height: 11%;
  background-color: black !important;
}

.overviewMain {
  margin: 0px;
  height: 74%;
}

.overviewBottom {
  height: 17%;
}

.jumbotron-fluid {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  color: white;
}

.jumbotron {
  background-color: black;
  height: 100% !important;
}

.jumbotronContainer {
  background-color: black;
  height: 100% !important;
}

#specialOffer {
}

.imageGallery {
  height: 100%;
}

.productInfo {
  top: 2em;
  height: 100%;
}

.overviewRow {
  height: 100%;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* css code for RatingReviews component */
/* rating&reviews box */

.RatingReviewsTitle {
  height: 5%;
}
.RatingReviewsBody {
  height: 85%;
}
.RatingReviewsFoot {
  height: 10%;
}

#compareButton {
  position: absolute;
  right: 0em;
  color: black;
  background-color: white;
  border: 1px solid black;
}
/* kane */
/* css code for Stars */
.grade-star-img {
  position: absolute;
  border: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./image/five_stars_empty_mid.png) no-repeat;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
.grade-star-bar {
  position: relative;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  height: 100%;
}
/* end */
/* css for rating part */
.hoverStar:hover {
  background: gold;
}

.display-5 {
  width: 100%;
}
/* end */
/* css for individualreview */
.Hrsolid {
  border-top: 2px solid #999;
  width: "100%";
}
.RightText {
  text-align: right;
}
.CenterText {
  text-align: center;
}
.RightMargin {
  margin-right: 0.5rem;
}
/* end */

/* css for eachphoto */
.EachPhoto {
  position: relative;
  border: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* css for product breakdown */
.Productprogress-bar {
  border-right: solid 5px #fff;
  background-color: grey;
}
.Productprogress-bar:last-child {
  border: none;
}
.grade-product-img {
  position: absolute;
  border: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./image/ProductProgressBar.png) no-repeat;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
.grade-product-bar {
  position: relative;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  height: 100%;
}
.ProductSlidercontainer {
  width: 100%;
}
.ProductSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.ProductSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("./image/arrowdown.png") no-repeat;
  -webkit-background-size: 100% 100% !important ;
  background-size: 100% 100% !important;
  background: url("./image/arrowdown.png") no-repeat;
  -webkit-background-size: 100% 100% !important ;
  background-size: 100% 100% !important;
}
.ProductSlider::-moz-range-thumb {
  appearance: icon;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("./image/arrowdown.png") no-repeat;
  -webkit-background-size: 100% 100% !important ;
  background-size: 100% 100% !important;
}

.ProductSlider::-moz-range-thumb {
  appearance: icon;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("./image/arrowdown.png") no-repeat;
  -webkit-background-size: 100% 100% !important ;
  background-size: 100% 100% !important;
}
/* end */
/* css for write new review */
.RadioMargin {
  margin-right: 1em;
}
.RadioNumber {
  margin-left: 5rem;
}
.InPutWidth {
  width: 100%;
}
.CharacteristicMargin {
  margin-left: 4.5rem;
}

/* end */
/*matt*/
.productReviews {
  height: 4%;
  margin-bottom: 1%;
  display: flex;
}

.productName {
  height: 30%;
  margin-bottom: 7%;
}

.styleSelect {
  height: 32%;
  display: flex;
  flex-direction: column;
}

.sizeQuantitySelect {
  height: 10%;
}

.socialLinks {
  height: 5%;
}

.styleSelectBox {
  height: 100%;
}

#overviewCarousel img {
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-position: 50% 50%;
  min-width: 100%;
  height: 35em;
  max-width: none;
}

#relatedCarousel {
  width: 80%;
  margin: auto;
}

/*
* Modal Styling
*/

.modal-row {
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
}

.feature {
  text-align: center;
  font-weight: bold;
}

.rowtitle {
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.cardTitle {
  font-weight: bold;
}

/* Button styling */

#compareButton,
#deleteButton {
  position: absolute;
  right: 0em;
  color: black;
  background-color: white;
  border: 1px solid black;
}

#compareButton:hover {
  color: gold;
  border: 1px solid gold;
}

#addButton {
  color: black;
  background-color: white;
  text-align: center;
  height: 100%;
  font-size: 500%;
  border-color: white;
}

#addButton:hover {
  color: #007bff;
  border: 1px solid #007bff;
}

#deleteButton:hover {
  color: red;
  border: 1px solid red;
}

/* Styling for cards */
.cardImg {
  height: 15rem;
  object-fit: cover;
}

.card {
  width: 10rem;
  border-radius: 100%;
}

.productCard {
  height: 30rem;
}

.productCarouselContainer {
  width: 100%;
}

.productCarousel {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.productCarousel::-webkit-scrollbar {
  display: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.circles {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imageHolder {
  width: 100%;
  height: 100%;
  position: relative;
}

.styleSelectorDiv {
  height: 100%;
}

.styleSelectorContainer {
  height: 100%;
}

.styleSelectRow {
  height: 95%;
  overflow: hidden;
}

.selectedStyleTitle {
  height: 5%;
}

#styleFirstRow {
  margin-top: 3%;
  margin-bottom: 10%;
}

#styleSecondRow {
  margin-bottom: 10%;
}

#dropdown-basic-button-size {
  color: black;
  background-color: white;

  border-color: black;
  margin-right: 15px;
}

#dropdown-basic-button-quantity {
  color: black;
  background-color: white;

  border-color: black;
  margin-right: 15px;
}

#button-add-to-bag {
  color: black;
  background-color: white;
  height: 100%;
  border-color: black;
}

.productInfoBox {
  margin: 20px;
}

.square img {
  height: 100%;
  width: 100%;
}

.square {
  width: 4em;
  height: 4em;
  margin-bottom: 1em;
}

.rounded-circle {
  z-index: 0;
}

.styleSquareBox {
  height: 100%;
}

.containerOverview {
  height: 100%;
  columns: 4 auto;
}

/* CSS FOR Q & A */

.helpfulContainer {
  font-size: 8px;
  float: right;
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 2px;
}
.helpfulContainer div {
  padding: 1px;
  flex-direction: row;
}
.masterQnAContaier {
  display: flex;
  width: 80%;
}

.answererContainer {
  display: flex;
  font-size: 8px;
  float: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  margin: 2%;
}

.answererContainer div {
  margin: 2%;
}
tr {
  padding: 20px;
  margin: 20px;
}

.helpfulContainer {
  display: flex;
}

.helpfulContainer div {
  margin: 2%;
}
/*

button.QnAButton {
  color: black;
  background-color: white;
  border-color: black;
}
.picturesContainer {
  height: 500px;
}
.pictures {
  height: 20%;
}

table {
  overflow-y: scroll;
  display: block;
}

/*
.helpful div {
  flex-wrap: wrap;
} */

.carouselContainer {
  height: 100%;
}

.imageCarousel {
  height: 100%;
}

.my-4 {
  height: 90%;
}

#carousel-thumb {
  height: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  display: cover;
}

.carousel-item {
  width: 100% !important;
  height: 100% !important;
}

.carousel-indicators {
  height: 0%;
}

#carousel-thumb {
  height: 100%;
  margin: 10px;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.thumbnail {
  padding: 0;
}

.carouselRows {
  height: 100%;
}

.d-block {
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 0;
  transition: width 2s;
}

.d-block:active {
  transform: scale(2);
  overflow: scroll;
  transform-origin: 0, 0;
}

.col-sm-10 {
  height: 100%;
}

.overlay {
  height: 20%;
  top: 0;
  right: 0;

  position: absolute;
}

.modal-90w {
  height: 800px;
  width: 80% !important;

  /* max-height: 70px !important;
  padding: 0px;
  display: table;  */
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.0001) !important;
  height: 100% !important;
}

.carousel-slide {
  width: 100% !important;
}

.carousel {
  display: block;
  margin: 0 auto;
}
.modalItem {
  display: block;
  margin: 0 auto;
}

.modalImage {
  max-height: 700px !important;
}

.modal-content > .container {
  height: 100% !important;
  background-color: rgba(47, 0, 255, 0);
}

.overviewModalRow {
  height: 100% !important;
  background-color: rgba(47, 0, 255, 0);
}

.slide {
  height: 100% !important;
}

.carousel-inner {
  height: 100% !important;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#compareButtonOverview {
  position: absolute;
  right: 3em;
  top: 3em;
  color: black;
  background-color: white;
  border: 1px solid black;
  z-index: 4;
}

.control-next {
  z-index: 2;
}
.fa {
  color: black !important;
  margin: 5px;
}

button.QnAButton {
  color: black;
  background-color: white;
  border-color: black;
}

#cartIcon {
  color: white !important;
}

.checkoutButtons {
  float: left;
}

.thumbnailBox {
  height: 90%;
  width: 12%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  overflow: scroll;
  display: block;
  z-index: 9;
  margin-top: 2em;
  margin-left: 1em;
}
.xcontainer {
  height: 100%;
  position: relative;
  margin: 5px;
}
.carouselBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ToggleAnswers {
  cursor: pointer;
}

#oldPrice {
  text-decoration: line-through;
  text-decoration-color: red;
}

#incorrectAddtoBag {
  text-decoration: line-through;
  text-decoration-color: red;
}

#QuestionAnswerSet {
  width: 100%;
  /* border-bottom: 1px solid #dee2e6; */
  margin: 3%;
  padding: 2%;
}

.table tr {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

#select {
  width: 100%;
}

#answererContainer tr {
  border-top: none;
}
/* .answerTitle {
  border-bottom: 1pt solid black;
} */

#starsBox {
  width: 60%;
  display: flex;
}

#linkToReviews {
  /* Just so it's visible */
  position: relative;
  left: -50px;
}
#theStars {
  /* Grow to rest of container */
  flex: 1;

  /* Just so it's visible */
}

#selectedStyleCircle {
  opacity: 0.5;
}

#companySlogan {
  font-size: 15px;
  font-style: italic;
}
