.App {
  text-align: center;
}

.overviewFull {
  height: 800px;
  background-color: rgb(162, 162, 233);
}

.overviewBanner {
  height: 10%;
}

.overviewMain {
  background-color: rgb(162, 162, 233);
  margin: 0px;
  height: 65%;
}

.overviewBottom {
  height: 25%;
  background-color: pink;
}

.jumbotron-fluid {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

#specialOffer {
  background-color: white;
}

.imageGallery {
  background-color: bisque;
}

.productInfo {
  background-color: yellowgreen;
  height: 100%;
}

.overviewRow {
  height: 100%;
}

/* css code for RatingReviews component */
/* rating&reviews box */
.RatingReviews {
  position: relative;
  top: 40%;
  left: 25%;
  width: 90em;
  height: 50em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
.RatingButton {
  margin: 20px;
}
.RightMargin {
  margin-right: 20px;
}

/* Pattern styles */
.left-half {
  float: left;
  width: 50%;
}
.right-half {
  float: right;
  width: 50%;
}

.styleSelectorContainer {
  height: 100%;
}

.productReviews {
  height: 5%;
  background-color: white;
}

.productName {
  height: 20%;
  background-color: chocolate;
}

.addToBag {
  height: 10%;
  background-color: bisque;
}

.sizeQuantitySelect {
  height: 25%;
  background-color: cadetblue;
}

.styleSelect {
  height: 40%;
  background-color: crimson;
}
